body {
    background-color: #5fb8ec;
    font-family: Arial, sans-serif;
    padding: 30px 15px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}

p,
li,
input,
textarea,
button {
    font-size: 1rem;
}