body {
    background-color: #5fb8ec;
    font-family: Arial, sans-serif;

    padding: 2rem 1rem;

    min-height: 100vh;
}

#titulo {
    text-align: center;
    color: rgb(204, 10, 230);
    font-size: 2rem;
}

.descricao,
.Sobre,
.Atividade {
    color: #7c3aed;
}

#descricao {
    line-height: 1.5;
    font-size: 1rem;
}

li {
    margin-bottom: 0.5rem;
}